build/
build-*/
cmake-build-*/
out/
.cache/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
_deps/
*.vst3
*.clap
*.component
*.aaxplugin
*.so
*.dylib
*.dll
.vs/
.vscode/settings.json
.vscode/launch.json
.idea/
*.xcodeproj/
*.xcworkspace/
.DS_Store
*.dSYM/
Thumbs.db
Desktop.ini
*.o
*.obj
*.a
*.lib
*.pdb
*.exp
*.ilk
